<div class="signature-container">
  <h4>Model Definition</h4>
  <div class="description">
    {{{signature}}}
  </div>

  <div class="snippet">
    <h4>Model Schema</h4>
    <pre><code>{{sampleJSON}}</code></pre>
    <small class="notice"></small>
  </div>
</div>

